mainService/Web References/memberReg/onlineregistration.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:tns="urn:microsoft-dynamics-schemas/codeunit/onlineregistration" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/onlineregistration" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <schema elementFormDefault="qualified" targetNamespace="urn:microsoft-dynamics-schemas/codeunit/onlineregistration" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="AttachDocuments">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="docNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="fileName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="attachment" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="AttachDocuments_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAccountLogin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnAccountLogin_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnActivateAccount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="fullName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="mobileNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnActivateAccount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangeOTP">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangeOTP_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangeRequest">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="request" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnChangeRequest_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCreateAccount">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
            <element minOccurs="1" maxOccurs="1" name="hashedPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCreateAccount_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCreateUsername">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnCreateUsername_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnGenerateOTP">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="FnGenerateOTP_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLogin2">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailOrUsername" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLogin2_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLogin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnLogin_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="FnMemberStatement">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bulShoNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnMemberStatement_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnProfileDetails">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="bEmail" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bulNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnProfileDetails_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnResetPassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="accountNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="password" type="string" />
            <element minOccurs="1" maxOccurs="1" name="confirmPassword" type="string" />
            <element minOccurs="1" maxOccurs="1" name="otpCode" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="FnResetPassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnSendOTP">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnSendOTP_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnShares">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="bulShoNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnShares_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnUpdatePassword2">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="hashedPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnUpdatePassword2_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnUpdatePassword">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
            <element minOccurs="1" maxOccurs="1" name="hashedPassword" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnUpdatePassword_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnVerifyOTP">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="otp" type="int" />
            <element minOccurs="1" maxOccurs="1" name="emailAddress" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="FnVerifyOTP_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="MembReg">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="firstName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="midName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="lastName" type="string" />
            <element minOccurs="1" maxOccurs="1" name="name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="roCode" type="string" />
            <element minOccurs="1" maxOccurs="1" name="mobileNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="country" type="string" />
            <element minOccurs="1" maxOccurs="1" name="town" type="string" />
            <element minOccurs="1" maxOccurs="1" name="dateOfBirth" type="date" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
            <element minOccurs="1" maxOccurs="1" name="gender" type="int" />
            <element minOccurs="1" maxOccurs="1" name="maritalStatus" type="int" />
            <element minOccurs="1" maxOccurs="1" name="employementInfo" type="int" />
            <element minOccurs="1" maxOccurs="1" name="accountC" type="int" />
            <element minOccurs="1" maxOccurs="1" name="membershipType" type="int" />
          </sequence>
        </complexType>
      </element>
      <element name="MembReg_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="NextOfKin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="name" type="string" />
            <element minOccurs="1" maxOccurs="1" name="telNo" type="string" />
            <element minOccurs="1" maxOccurs="1" name="appNo" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="NextOfKin_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="boolean" />
          </sequence>
        </complexType>
      </element>
      <element name="SetUsernameOnFirstLogin">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="emailOrUsername" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="SetUsernameOnFirstLogin_Result">
        <complexType>
          <sequence />
        </complexType>
      </element>
      <element name="fnActivateAccount2">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="memberNumber" type="string" />
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnActivateAccount2_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetBULNumber">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="username" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetBULNumber_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetMemberNo">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="email" type="string" />
          </sequence>
        </complexType>
      </element>
      <element name="fnGetMemberNo_Result">
        <complexType>
          <sequence>
            <element minOccurs="1" maxOccurs="1" name="return_value" type="string" />
          </sequence>
        </complexType>
      </element>
    </schema>
  </types>
  <message name="AttachDocuments">
    <part name="parameters" element="tns:AttachDocuments" />
  </message>
  <message name="AttachDocuments_Result">
    <part name="parameters" element="tns:AttachDocuments_Result" />
  </message>
  <message name="FnAccountLogin">
    <part name="parameters" element="tns:FnAccountLogin" />
  </message>
  <message name="FnAccountLogin_Result">
    <part name="parameters" element="tns:FnAccountLogin_Result" />
  </message>
  <message name="FnActivateAccount">
    <part name="parameters" element="tns:FnActivateAccount" />
  </message>
  <message name="FnActivateAccount_Result">
    <part name="parameters" element="tns:FnActivateAccount_Result" />
  </message>
  <message name="FnChangeOTP">
    <part name="parameters" element="tns:FnChangeOTP" />
  </message>
  <message name="FnChangeOTP_Result">
    <part name="parameters" element="tns:FnChangeOTP_Result" />
  </message>
  <message name="FnChangeRequest">
    <part name="parameters" element="tns:FnChangeRequest" />
  </message>
  <message name="FnChangeRequest_Result">
    <part name="parameters" element="tns:FnChangeRequest_Result" />
  </message>
  <message name="FnCreateAccount">
    <part name="parameters" element="tns:FnCreateAccount" />
  </message>
  <message name="FnCreateAccount_Result">
    <part name="parameters" element="tns:FnCreateAccount_Result" />
  </message>
  <message name="FnCreateUsername">
    <part name="parameters" element="tns:FnCreateUsername" />
  </message>
  <message name="FnCreateUsername_Result">
    <part name="parameters" element="tns:FnCreateUsername_Result" />
  </message>
  <message name="FnGenerateOTP">
    <part name="parameters" element="tns:FnGenerateOTP" />
  </message>
  <message name="FnGenerateOTP_Result">
    <part name="parameters" element="tns:FnGenerateOTP_Result" />
  </message>
  <message name="FnLogin2">
    <part name="parameters" element="tns:FnLogin2" />
  </message>
  <message name="FnLogin2_Result">
    <part name="parameters" element="tns:FnLogin2_Result" />
  </message>
  <message name="FnLogin">
    <part name="parameters" element="tns:FnLogin" />
  </message>
  <message name="FnLogin_Result">
    <part name="parameters" element="tns:FnLogin_Result" />
  </message>
  <message name="FnMemberStatement">
    <part name="parameters" element="tns:FnMemberStatement" />
  </message>
  <message name="FnMemberStatement_Result">
    <part name="parameters" element="tns:FnMemberStatement_Result" />
  </message>
  <message name="FnProfileDetails">
    <part name="parameters" element="tns:FnProfileDetails" />
  </message>
  <message name="FnProfileDetails_Result">
    <part name="parameters" element="tns:FnProfileDetails_Result" />
  </message>
  <message name="FnResetPassword">
    <part name="parameters" element="tns:FnResetPassword" />
  </message>
  <message name="FnResetPassword_Result">
    <part name="parameters" element="tns:FnResetPassword_Result" />
  </message>
  <message name="FnSendOTP">
    <part name="parameters" element="tns:FnSendOTP" />
  </message>
  <message name="FnSendOTP_Result">
    <part name="parameters" element="tns:FnSendOTP_Result" />
  </message>
  <message name="FnShares">
    <part name="parameters" element="tns:FnShares" />
  </message>
  <message name="FnShares_Result">
    <part name="parameters" element="tns:FnShares_Result" />
  </message>
  <message name="FnUpdatePassword2">
    <part name="parameters" element="tns:FnUpdatePassword2" />
  </message>
  <message name="FnUpdatePassword2_Result">
    <part name="parameters" element="tns:FnUpdatePassword2_Result" />
  </message>
  <message name="FnUpdatePassword">
    <part name="parameters" element="tns:FnUpdatePassword" />
  </message>
  <message name="FnUpdatePassword_Result">
    <part name="parameters" element="tns:FnUpdatePassword_Result" />
  </message>
  <message name="FnVerifyOTP">
    <part name="parameters" element="tns:FnVerifyOTP" />
  </message>
  <message name="FnVerifyOTP_Result">
    <part name="parameters" element="tns:FnVerifyOTP_Result" />
  </message>
  <message name="MembReg">
    <part name="parameters" element="tns:MembReg" />
  </message>
  <message name="MembReg_Result">
    <part name="parameters" element="tns:MembReg_Result" />
  </message>
  <message name="NextOfKin">
    <part name="parameters" element="tns:NextOfKin" />
  </message>
  <message name="NextOfKin_Result">
    <part name="parameters" element="tns:NextOfKin_Result" />
  </message>
  <message name="SetUsernameOnFirstLogin">
    <part name="parameters" element="tns:SetUsernameOnFirstLogin" />
  </message>
  <message name="SetUsernameOnFirstLogin_Result">
    <part name="parameters" element="tns:SetUsernameOnFirstLogin_Result" />
  </message>
  <message name="fnActivateAccount2">
    <part name="parameters" element="tns:fnActivateAccount2" />
  </message>
  <message name="fnActivateAccount2_Result">
    <part name="parameters" element="tns:fnActivateAccount2_Result" />
  </message>
  <message name="fnGetBULNumber">
    <part name="parameters" element="tns:fnGetBULNumber" />
  </message>
  <message name="fnGetBULNumber_Result">
    <part name="parameters" element="tns:fnGetBULNumber_Result" />
  </message>
  <message name="fnGetMemberNo">
    <part name="parameters" element="tns:fnGetMemberNo" />
  </message>
  <message name="fnGetMemberNo_Result">
    <part name="parameters" element="tns:fnGetMemberNo_Result" />
  </message>
  <portType name="onlineregistration_Port">
    <operation name="AttachDocuments">
      <input name="AttachDocuments" message="tns:AttachDocuments" />
      <output name="AttachDocuments_Result" message="tns:AttachDocuments_Result" />
    </operation>
    <operation name="FnAccountLogin">
      <input name="FnAccountLogin" message="tns:FnAccountLogin" />
      <output name="FnAccountLogin_Result" message="tns:FnAccountLogin_Result" />
    </operation>
    <operation name="FnActivateAccount">
      <input name="FnActivateAccount" message="tns:FnActivateAccount" />
      <output name="FnActivateAccount_Result" message="tns:FnActivateAccount_Result" />
    </operation>
    <operation name="FnChangeOTP">
      <input name="FnChangeOTP" message="tns:FnChangeOTP" />
      <output name="FnChangeOTP_Result" message="tns:FnChangeOTP_Result" />
    </operation>
    <operation name="FnChangeRequest">
      <input name="FnChangeRequest" message="tns:FnChangeRequest" />
      <output name="FnChangeRequest_Result" message="tns:FnChangeRequest_Result" />
    </operation>
    <operation name="FnCreateAccount">
      <input name="FnCreateAccount" message="tns:FnCreateAccount" />
      <output name="FnCreateAccount_Result" message="tns:FnCreateAccount_Result" />
    </operation>
    <operation name="FnCreateUsername">
      <input name="FnCreateUsername" message="tns:FnCreateUsername" />
      <output name="FnCreateUsername_Result" message="tns:FnCreateUsername_Result" />
    </operation>
    <operation name="FnGenerateOTP">
      <input name="FnGenerateOTP" message="tns:FnGenerateOTP" />
      <output name="FnGenerateOTP_Result" message="tns:FnGenerateOTP_Result" />
    </operation>
    <operation name="FnLogin2">
      <input name="FnLogin2" message="tns:FnLogin2" />
      <output name="FnLogin2_Result" message="tns:FnLogin2_Result" />
    </operation>
    <operation name="FnLogin">
      <input name="FnLogin" message="tns:FnLogin" />
      <output name="FnLogin_Result" message="tns:FnLogin_Result" />
    </operation>
    <operation name="FnMemberStatement">
      <input name="FnMemberStatement" message="tns:FnMemberStatement" />
      <output name="FnMemberStatement_Result" message="tns:FnMemberStatement_Result" />
    </operation>
    <operation name="FnProfileDetails">
      <input name="FnProfileDetails" message="tns:FnProfileDetails" />
      <output name="FnProfileDetails_Result" message="tns:FnProfileDetails_Result" />
    </operation>
    <operation name="FnResetPassword">
      <input name="FnResetPassword" message="tns:FnResetPassword" />
      <output name="FnResetPassword_Result" message="tns:FnResetPassword_Result" />
    </operation>
    <operation name="FnSendOTP">
      <input name="FnSendOTP" message="tns:FnSendOTP" />
      <output name="FnSendOTP_Result" message="tns:FnSendOTP_Result" />
    </operation>
    <operation name="FnShares">
      <input name="FnShares" message="tns:FnShares" />
      <output name="FnShares_Result" message="tns:FnShares_Result" />
    </operation>
    <operation name="FnUpdatePassword2">
      <input name="FnUpdatePassword2" message="tns:FnUpdatePassword2" />
      <output name="FnUpdatePassword2_Result" message="tns:FnUpdatePassword2_Result" />
    </operation>
    <operation name="FnUpdatePassword">
      <input name="FnUpdatePassword" message="tns:FnUpdatePassword" />
      <output name="FnUpdatePassword_Result" message="tns:FnUpdatePassword_Result" />
    </operation>
    <operation name="FnVerifyOTP">
      <input name="FnVerifyOTP" message="tns:FnVerifyOTP" />
      <output name="FnVerifyOTP_Result" message="tns:FnVerifyOTP_Result" />
    </operation>
    <operation name="MembReg">
      <input name="MembReg" message="tns:MembReg" />
      <output name="MembReg_Result" message="tns:MembReg_Result" />
    </operation>
    <operation name="NextOfKin">
      <input name="NextOfKin" message="tns:NextOfKin" />
      <output name="NextOfKin_Result" message="tns:NextOfKin_Result" />
    </operation>
    <operation name="SetUsernameOnFirstLogin">
      <input name="SetUsernameOnFirstLogin" message="tns:SetUsernameOnFirstLogin" />
      <output name="SetUsernameOnFirstLogin_Result" message="tns:SetUsernameOnFirstLogin_Result" />
    </operation>
    <operation name="fnActivateAccount2">
      <input name="fnActivateAccount2" message="tns:fnActivateAccount2" />
      <output name="fnActivateAccount2_Result" message="tns:fnActivateAccount2_Result" />
    </operation>
    <operation name="fnGetBULNumber">
      <input name="fnGetBULNumber" message="tns:fnGetBULNumber" />
      <output name="fnGetBULNumber_Result" message="tns:fnGetBULNumber_Result" />
    </operation>
    <operation name="fnGetMemberNo">
      <input name="fnGetMemberNo" message="tns:fnGetMemberNo" />
      <output name="fnGetMemberNo_Result" message="tns:fnGetMemberNo_Result" />
    </operation>
  </portType>
  <binding name="onlineregistration_Binding" type="tns:onlineregistration_Port">
    <binding transport="http://schemas.xmlsoap.org/soap/http" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    <operation name="AttachDocuments">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:AttachDocuments" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="AttachDocuments">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="AttachDocuments_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnAccountLogin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnAccountLogin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnAccountLogin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnAccountLogin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnActivateAccount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnActivateAccount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnActivateAccount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnActivateAccount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnChangeOTP">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnChangeOTP" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnChangeOTP">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnChangeOTP_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnChangeRequest">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnChangeRequest" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnChangeRequest">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnChangeRequest_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCreateAccount">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnCreateAccount" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCreateAccount">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCreateAccount_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnCreateUsername">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnCreateUsername" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnCreateUsername">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnCreateUsername_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnGenerateOTP">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnGenerateOTP" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnGenerateOTP">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnGenerateOTP_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnLogin2">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnLogin2" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnLogin2">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnLogin2_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnLogin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnLogin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnLogin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnLogin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnMemberStatement">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnMemberStatement" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnMemberStatement">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnMemberStatement_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnProfileDetails">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnProfileDetails" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnProfileDetails">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnProfileDetails_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnResetPassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnResetPassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnResetPassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnResetPassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnSendOTP">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnSendOTP" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnSendOTP">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnSendOTP_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnShares">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnShares" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnShares">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnShares_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnUpdatePassword2">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnUpdatePassword2" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnUpdatePassword2">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnUpdatePassword2_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnUpdatePassword">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnUpdatePassword" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnUpdatePassword">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnUpdatePassword_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="FnVerifyOTP">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:FnVerifyOTP" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="FnVerifyOTP">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="FnVerifyOTP_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="MembReg">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:MembReg" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="MembReg">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="MembReg_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="NextOfKin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:NextOfKin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="NextOfKin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="NextOfKin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="SetUsernameOnFirstLogin">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:SetUsernameOnFirstLogin" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="SetUsernameOnFirstLogin">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="SetUsernameOnFirstLogin_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnActivateAccount2">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:fnActivateAccount2" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnActivateAccount2">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnActivateAccount2_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetBULNumber">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:fnGetBULNumber" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetBULNumber">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetBULNumber_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
    <operation name="fnGetMemberNo">
      <operation soapAction="urn:microsoft-dynamics-schemas/codeunit/onlineregistration:fnGetMemberNo" style="document" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      <input name="fnGetMemberNo">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </input>
      <output name="fnGetMemberNo_Result">
        <body use="literal" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
      </output>
    </operation>
  </binding>
  <service name="onlineregistration">
    <port name="onlineregistration_Port" binding="tns:onlineregistration_Binding">
      <address location="http://41.220.224.43:7047/BC190/WS/Bulsho%20Sacco%20Ltd/Codeunit/onlineregistration" xmlns="http://schemas.xmlsoap.org/wsdl/soap/" />
    </port>
  </service>
</definitions>